In [83]:
import pandas as pd
import numpy as np
from datetime import datetime, date, time

#cur = pd.DataFrame(columns=['date', 'currency', 'operation', 'value', 'rate'])
cur = pd.read_csv('./currancy_PS.csv')

def add_cur (date, currency, operation, value, rate):
    global cur
    ADD_df = pd.DataFrame(data={'date': [date], 'currency': [currency], 'operation': [operation], 'value': [value], 'rate': [rate]})
#    cur2 = cur.append(ADD_df, ignore_index=True)
    cur = pd.concat([cur, ADD_df], ignore_index=True, sort=False)
    cur = cur.to_csv('./currancy_PS.csv', index=False)
    cur = pd.read_csv('./currancy_PS.csv')
    return cur

def EUR_buy (value, rate):
    global cur
    ADD_df = pd.DataFrame(data={'date': [tday], 'currency': ['EUR'], 'operation': ['buy'], 'value': [value], 'rate': [rate]})
    cur = pd.concat([cur, ADD_df], ignore_index=True, sort=False)
    cur = cur.to_csv('./currancy_PS.csv', index=False)
    cur = pd.read_csv('./currancy_PS.csv')
    return cur
def EUR_sell (value, rate):
    global cur
    ADD_df = pd.DataFrame(data={'date': [tday], 'currency': ['EUR'], 'operation': ['sell'], 'value': [value], 'rate': [rate]})
    cur = pd.concat([cur, ADD_df], ignore_index=True, sort=False)
    cur = cur.to_csv('./currancy_PS.csv', index=False)
    cur = pd.read_csv('./currancy_PS.csv')
    return cur

def USD_buy (value, rate):
    global cur
    ADD_df = pd.DataFrame(data={'date': [tday], 'currency': ['USD'], 'operation': ['buy'], 'value': [value], 'rate': [rate]})
    cur = pd.concat([cur, ADD_df], ignore_index=True, sort=False)
    cur = cur.to_csv('./currancy_PS.csv', index=False)
    cur = pd.read_csv('./currancy_PS.csv')
    return cur
def USD_sell (value, rate):
    global cur
    ADD_df = pd.DataFrame(data={'date': [tday], 'currency': ['USD'], 'operation': ['sell'], 'value': [value], 'rate': [rate]})
    cur = pd.concat([cur, ADD_df], ignore_index=True, sort=False)
    cur = cur.to_csv('./currancy_PS.csv', index=False)
    cur = pd.read_csv('./currancy_PS.csv')
    return cur

def del_str(number):
    global cur
    cur = cur.drop(cur.index[number])
    cur = cur.reset_index()
    del cur['index']
    cur = cur.to_csv('./currancy_PS.csv', index=False)
    cur = pd.read_csv('./currancy_PS.csv')
    return cur




tday = datetime.now().date()
cur

         date currency operation  value   rate
0  2020-06-16      USD       buy    300  70.15
1  2020-06-16      EUR       buy    200  79.50
2  2021-02-18      USD       buy    200  74.05
3  2021-02-18      EUR       buy    200  89.10
4  2021-04-23     юань       buy     33  43.22
5  2021-03-20      EUR      sell     13  85.52
6  2021-03-20      USD      sell     55  73.14

In [84]:
cur_sum = cur.groupby(['currency', 'operation', 'rate'], as_index=False).agg({'value': 'sum'})
cur_sum['RUR'] = cur_sum.rate*cur_sum.value
cur_sum

  currency operation   rate  value       RUR
0      EUR       buy  79.50    200  15900.00
1      EUR       buy  89.10    200  17820.00
2      EUR      sell  85.52     13   1111.76
3      USD       buy  70.15    300  21045.00
4      USD       buy  74.05    200  14810.00
5      USD      sell  73.14     55   4022.70
6     юань       buy  43.22     33   1426.26

In [85]:
cur_svod = cur_sum.groupby(['currency', 'operation'], as_index=False).agg({'value': 'sum', 'RUR': 'sum'})
cur_svod['mean_rate'] = cur_svod.RUR/cur_svod.value
cur_svod

  currency operation  value       RUR  mean_rate
0      EUR       buy    400  33720.00      84.30
1      EUR      sell     13   1111.76      85.52
2      USD       buy    500  35855.00      71.71
3      USD      sell     55   4022.70      73.14
4     юань       buy     33   1426.26      43.22

In [95]:
cur_svod_have = cur_svod.drop('mean_rate', axis=1)
cur_svod_have.loc[cur_svod_have['operation']=='sell', 'RUR'] *= (-1)
cur_svod_have.loc[(cur_svod_have['operation']=='sell'), 'value'] *= (-1)
cur_svod_have

  currency operation  value       RUR
0      EUR       buy    400  33720.00
1      EUR      sell    -13  -1111.76
2      USD       buy    500  35855.00
3      USD      sell    -55  -4022.70
4     юань       buy     33   1426.26

In [96]:
cur_svod_have = cur_svod_have.groupby('currency', as_index=False).agg({'value': 'sum', 'RUR': 'sum'})
print('В наличии:')
cur_svod_have

В наличии:

  currency  value       RUR
0      EUR    387  32608.24
1      USD    445  31832.30
2     юань     33   1426.26

In [97]:
td_rate_USD = 74.10
td_rate_EUR = 89.15
n_max = len(cur_svod_have.index)

for i in range(n_max):
    if cur_svod_have.currency[i] == 'EUR':
        print('сейчас имеется', cur_svod_have.value[i], 
              'евро, можно продать за', cur_svod_have.value[i]*td_rate_EUR,
             'и получить прибыль', round(cur_svod_have.value[i]*td_rate_EUR-cur_svod_have.RUR[i], 2), 'руб.')
    elif cur_svod_have.currency[i] == 'USD':
        print('сейчас имеется', cur_svod_have.value[i], 
              'долларов, можно продать за', cur_svod_have.value[i]*td_rate_USD,
             'и получить прибыль', round(cur_svod_have.value[i]*td_rate_USD-cur_svod_have.RUR[i], 2), 'руб.')    
    else: print('имеется валюта', cur_svod_have.currency[i], 'в количестве ',  cur_svod_have.value[i])

сейчас имеется 387 евро, можно продать за 34501.05 и получить прибыль 1892.81 руб.
сейчас имеется 445 долларов, можно продать за 32974.5 и получить прибыль 1142.2 руб.
имеется валюта юань в количестве  33

In [5]:
add_cur ('2021-03-20', 'EUR', 'sell', 13, 85.52)
add_cur ('2021-03-20', 'USD', 'sell', 55, 73.14)

         date currency operation  value   rate
0  2020-06-16      USD       buy    300  70.15
1  2020-06-16      EUR       buy    200  79.50
2  2021-02-18      USD       buy    200  74.05
3  2021-02-18      EUR       buy    200  89.10
4  2021-04-23     юань       buy     33  43.22
5  2021-03-20      EUR      sell     13  85.52
6  2021-03-20      USD      sell     55  73.14

In [131]:
#cur.to_csv(r'C:\Users\Ron\Desktop\export_dataframe.csv', index = False, header=True)

cur.to_csv('./currancy_PS.csv', index=False)

In [7]:

cur.sort_values(by=['date', 'rate'],ascending=True)

         date currency operation  value   rate
0  2020-06-16      USD       buy    300  70.15
1  2020-06-16      EUR       buy    200  79.50
2  2021-02-18      USD       buy    200  74.05
3  2021-02-18      EUR       buy    200  89.10
6  2021-03-20      USD      sell     55  73.14
5  2021-03-20      EUR      sell     13  85.52
4  2021-04-23     юань       buy     33  43.22